[submodule "modules/utcore"]
	path = modules/utcore
	url = git@intern.far.in.tum.de:Ubitrack/utCore.git
[submodule "modules/utvision"]
	path = modules/utvision
	url = git@intern.far.in.tum.de:Ubitrack/utVision.git
[submodule "modules/utcomponents"]
	path = modules/utcomponents
	url = git@intern.far.in.tum.de:Ubitrack/utComponents.git
[submodule "modules/utvisioncomponents"]
	path = modules/utvisioncomponents
	url = git@intern.far.in.tum.de:Ubitrack/utVisionComponents.git
[submodule "modules/utdataflow"]
	path = modules/utdataflow
	url = git@intern.far.in.tum.de:Ubitrack/utDataflow.git
[submodule "modules/utfacade"]
	path = modules/utfacade
	url = git@intern.far.in.tum.de:Ubitrack/utFacade.git
[submodule "modules/utvisualization"]
	path = modules/utvisualization
	url = git@intern.far.in.tum.de:Ubitrack/utVisualization.git
[submodule "modules/mswindows"]
	path = modules/mswindows
	url = git@intern.far.in.tum.de:UbitrackContrib/DirectShowDriver.git
[submodule "modules/artdriver"]
	path = modules/artdriver
	url = git@intern.far.in.tum.de:UbitrackContrib/ARTDriver.git
